main.main {
  display: flex;
  width: 100%;
  gap: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .box {
    width: 300px;
  }
}

.btnIcon {
  border-radius: 50px;
}

.Spinner {
  animation: rotate 1s linear infinite;
  margin-right: 0.5em;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Arrow {
  width: 16px;
  height: 16px;
}
