$subtle: rgba(255,255,255,0.4);

.Input {
  position: relative;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
  width: 100%;

  input {
      all: unset;
      width: 100%;
      border-bottom: 1px solid $subtle;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

  label.mini {
    position: absolute;
    top: -30%;
    left: 0;
    font-size: 0.8em;
    color: $subtle;
  }

  label.full {
    pointer-events: none;
    position: absolute;
    top: 0.5em;
    left: 0;
    color: $subtle;
  }

  &.active {
    background-color: red;
  }

  .hint {
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 0;
    color: $subtle;
    font-size: 0.8em;
  }
}
